.padtop{
  padding-top:20px;
}

.padpx h4{
  padding-left:6px;
  padding-right:6px;
}

.h4{
  padding-left:10px;
}

body{
  color:white;
}

.card{
  background:#2C2F33;
  color:white;
  border-radius:5px;
}

.card h5{
  padding-left:25px;
}

.material-icons{
  -webkit-user-select: none;
}


.progress{
  overflow:hidden!important;
}

td[id]{
  text-align:right!important;
}

.card-content table{
  border-collapse:separate!important;
}

.card-content table td{
    padding:4px!important;
}

nav{
  position:relative;
}

.navbar-fixed{
  position: sticky;
  top: 0;
  height: 60px;
}

.navbar-fixed--scrolled {
  /* change background-color to whatever you want */
  background-color: grey;
}

nav.scrolled{
  background:white!important;
}

.sidenav-trigger{
  display:block!important;
}

html{
  font-family:Roboto!important;
}

.sidenav{
  will-change: none!important;
}

.blurple{
  background:#7289DA;
}

.blurple-text{
  color:#7289DA;
}

h5 .material-icons{
  transform: translate(0%, 15%);
}

html{
  overflow: none;
}

.first{
  height:200%!important;
}

.bottom .card{
  height:300px!important;
}

.determinate.orange, .progress{
  padding:0!important;
  margin:0!important;
}

 /*.bottom .divider-vert{
    position:absolute;
    left:30%;
    top:10%;
    bottom:10%;
    border-left:1px solid #e0e0e0;
}*/

/* .divider-vert{
  position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid #e0e0e0;
}*/

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body { background:  #23272A; color: white; }
  .sidenav {background: #2C2F33!important; }
  .whiters { color:white!important;}
  li a i, li a{ color:white!important;}
  .subheader {color: #99AAB5!important;}
  #header, #content {color:black!important;}
  input { color:white; }
  .modal { background: #2C2F33;}
  .modal h4 {color:white!important;}
  .modal-footer { background: #23272A!important;}
  
}

@media (prefers-color-scheme: light) {
  body { background:  #fff; color: black; }
  input { color:black; }
}

.ssa{
    width:100%!important;
    height:100%!important;
}

.card #avatar{
    padding-top:30px;
}

/* label focus color */

/* valid color */
.input-field input[type=url].valid {
  border-bottom: 1px solid green!important;
  box-shadow: 0 1px 0 0  green!important;
}
/* invalid color */
.input-field input[type=url].invalid {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0  red!important;
}
/* icon prefix focus color */


textarea{
  border:none;
  text-align:center;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

hidden, .sidenav-trigger, .subheader{
  user-select: none;
}

* {
  overflow:scroll;
}

* .ssa{
  overflow:none!important;
}

.right{
padding-right:10px;
}

.material-icons{
position:relative;
}

.sidenav{
user-select:none;
will-change:contents;
}

*::-webkit-scrollbar{
  display:none;
}

*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: Roboto;
}